<h1>Create A User</h1>

<div class ="new_activity">
<%= form_for @user do |f| %>

<%= f.label :username %>
<%= f.text_field :username %> <br>

<%= f.label :password %>
<%= f.password_field :password %> <br>

<%= f.label :balance, "Initial Funds"%>
<%= f.number_field :balance %> <br>

<%= f.label :admin, "Interested in starting your own class?"%>
<%= f.check_box :admin %> <br>

<%= f.submit "Create User" %>
<%end %>
</div>
<br>
<%= link_to "Sign Up with Google", '/auth/google_oauth2' %>
<br>