<h1>Create New Activity</h1>
<br>

<%= form_for @activity do |f|%>
<%= f.label :title %>
<%= f.text_field :title %> <br>

<%= f.label :description %>
<%= f.text_field :description %> <br>

<%= f.label :location %>
<%= f.text_field :location %> <br>

<%= f.label :capacity %>
<%= f.number_field :capacity, min: 1, max: 100 %> <br>

<%= f.label :price, "Price $" %>
<%= f.number_field :price %> <br>

<%= f.label :start_at %>
<%= f.datetime_field :start_at %> <br>

<%= f.label :end_at %>
<%= f.datetime_field :end_at %> <br>

<%= f.hidden_field :user_id, :value => session[:user_id] %>

<%= f.submit "Create New Activity", class: "btn" %>
<% end %>
