<h1>Create New Activity</h1>
<br>

<%= form_for @activity do |f|%>
<%= f.label :title %>
<%= f.text_field :title %> <br>

<%= f.label :description %>
<%= f.text_field :description %> <br>

<%= f.label :location %>
<%= f.text_field :location %> <br>

<%= f.label :capacity %>
<%= f.number_field :capacity, min: 1, max: 100 %> <br>

<%= f.label :price, "Price $" %>
<%= f.number_field :price %> <br>

<%= f.label :start_at %>
<%= f.datetime_field :start_at %> <br>

<%= f.label :end_at %>
<%= f.datetime_field :end_at %> <br>

<%= f.hidden_field :imageurl %>

<button id="uploadImage" type="button">Upload Image</button>


<%= f.hidden_field :user_id, :value => session[:user_id] %>
<br><br>
<%= f.submit "Create New Activity", class: "btn" %>
<% end %>

<script>

document.addEventListener('DOMContentLoaded', () => {
  const options =  {
  onFileUploadFinished: file => {
    console.log(file);
    document.querySelector("#activity_imageurl").value = file.url;
    document.querySelector("#uploadImage").innerText = `Image ${file.filename} Uploaded successfully`;

    document.querySelector("#uploadImage").disabled = true; 
  }
};
  document.querySelector("#uploadImage").addEventListener('click', () => {
    filestack_client.picker(options).open()
  })
});

</script>
