<h1><%= @activity.title %></h1> 
<body>
Description: <%= @activity.description %> <br>

Location: <%= @activity.location %> <br>
Capacity: <%= @activity.capacity %> <br>
Price:    <%= @activity.price %> <br>
-----------------------------------
<br>
Reviews: <br>
<% @activity.reviews.each do |review| %>
Rating: <%= review.rating %> & Content:<%=review.content %><br>
<%end %>
<br>
</body>

<%= button_to "Write a Review", new_review_path(@activity.id),class: "btn", method: :get%>
