<h1><%= @activity.title %></h1> 

Description: <%= @activity.description %> <br>

Location: <%= @activity.location %> <br>
Capacity: <%= @activity.capacity %> <br>
Price:    <%= @activity.price %> <br>
Start Time <%= @activity.start_at %> <br>
End Time <%= @activity.end_at %> <br>
-----------------------------------
<br>
Reviews: <br>
<% @activity.reviews.each do |review| %>
Rating: <%= review.rating %> & Content:<%=review.content %><br>
<%end %>
<br>


<% if @activity.end_at < Time.zone.now %>
Ended <%= time_ago_in_words(@activity.end_at) %> ago
  <% if @activity.review(current_user.id).empty? %>
    <%= link_to "Write a Review", new_review_path(activity_id: @activity.id),class: "btn", method: :get%>
  <% end %>
<% end %>

<% if current_user.admin? && @activity.user_id == current_user.id%>
  <%=  button_to 'Delete Activity', user_activity_path(user_id: current_user.id, id: @activity.id), class: "btn", method: :delete%>
<% end %>