<!DOCTYPE html>
<html>
  <head>
    <title>TrybNY</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if logged_in? && current_user %>
        <%= button_to "My Profile", user_path(current_user.id), class: "btn", method: :get %>
        <%= button_to "View Activities", activities_path, class: "btn", method: :get %>
        <%= button_to "My Activities", user_activities_path(current_user.id), class: "btn", method: :get %>
        <%= button_to "Logout", logout_path, class: "btn", method: :delete %>
      <% end %>

    <%= yield %>

<%= filestack_js_include_tag %>
<%= filestack_js_init_tag %>

  </body>
</html>
